
            .head{
                width: 150px;
                height:120px;
                border-radius: 80%;
                background-color: black;
                border: 2.5px solid grey;
                position: absolute;
                left: 2px;
                transform: rotate(6deg);
                z-index: 2;
            }
            .eye{
                width: 50px;
                height:50px;
                border-radius: 80%;
                background-color: white;
                border: 2px solid black;
                
            }
            #l{
                position: absolute;
                top: 45px;
                left: 20px;
            }
            #r{
                position: absolute;
                top: 45px;
                left: 90px;
            }
            .eyelid{
                width: 40px;
                height:40px;
                border-radius: 80%;
                background-color: black;
            }
            #l1{
                position: absolute;
                top: 53px;
                left: 25px;
            }
            #r1{
                position: absolute;
                top: 53px;
                left: 93px;
            }
            .dot{
                width:5px;
                height:6px;
                border-radius: 80%;
                background-color: white;
                border: 1px solid black;
            }
            #l2{
                position: absolute;
                top: 60px;
                left: 50px;
            }
            #r2{
                position: absolute;
                top: 59px;
                left: 100px;
            }
            .nose{
                width: 10px;
                height: 5px;
                background-color: palevioletred;
                border-radius: 45%;
                position: relative;
                top: 85px;
                left: 73px;
            }
            .whiskers{
                width: 55px;
                height: 20px;
                border-radius: 80%;
                border-top: 2px solid black;
                /* background-color: black; */
               
            }
            #l3{
                position: absolute;
                top: 98px;
                left: 2px;
                transform: rotate(10deg);
            }
            #r3{
                position: absolute;
                top: 98px;
                left: 115px;
                transform: rotate(350deg);
            }
            #l4{
                position: absolute;
                top: 105px;
                left: 2px;
                transform: rotate(350deg);
            }
            #r4{
                position: absolute;
                top: 105px;
                left: 115px;
                transform: rotate(10deg);
            }
            .cat-body{
                width: 100px;
                height: 150px;
                border-radius: 80%;
                border: 2.5px solid grey;
                background-color: black;
                position: relative;
                top: 105px;
                left: 30px;
                z-index: 1;
            }

            .ears>div{
                width: 55px;
                height: 100px;
                border-radius: 80% 80% 100% 60%;
                border: 2.5px solid grey;
                background-color: black;
                
            }
            #l5{
                position: absolute;
                top: -23px;
                left: 15px;
                transform: rotate(350deg);
            }
            #r5{
                position: absolute;
                top: -20px;
                left: 90px;
                transform: rotate(15deg);
            }
            .tail{
                width: 50px;
                height: 120px;
                border-radius: 90% 20% 80% 30%;
                
                position: absolute;
                bottom: 15px;
                left: 99px;
                background-color: black;
                border: 2.5px solid grey;
                transform: rotate(-10deg);
                
            }
            .dot-circle{
                width: 325px;
                height: 325px;
                background-color: pink;
                border-radius: 100%;
                border: 5px dotted brown;
                animation: spin 2s linear  infinite;
                
            }
            @keyframes spin{
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
            .dash-circle{
                width: 300px;
                height: 300px;
                background-color: peachpuff;
                border-radius: 100%;
                border: 5px dashed brown;
                position: absolute;
                top: 12px;
                left: 12px;
                overflow: hidden;
            }
            .circle{
                /* position: absolute;
                top: 5px;*/
                left: 80px; 
                position: relative;
                height: 120px;
                width: 120px;
               margin-bottom: 220px;
                /* transform: scale(0.5);  */
               /* transform-origin: 300px 150px; */
            }
            .cat{
                position: absolute;
                top: 70px;
                left: 80px;
                
            }
            .kan{
                position: absolute;
                top: -2px;
                right: 154.5px;
            }
            .whisks{
                position: absolute;
                bottom: 125px;
                right: 160px;
            }
            .butterfly-ru{
                width: 30px;
                height: 20px;
                background-color: black;
                border-radius: 100% 20% 50% 20%;
            }
            .butterfly-rd{
                width: 20px;
                height: 15px;
                background-color: palevioletred;
                border-radius: 100% 20%;
                transform:rotateX(180deg)
            }
             .butterfly-lu{ 
                width: 30px;
                height: 20px;
                background-color: black;
                border-radius: 100% 20% 50% 20%;
                transform: rotateY(180deg);
               
            }
            .butterfly-ld{
                width: 20px;
                height: 15px;
                background-color: palevioletred;
                border-radius: 100% 20%;
                position: relative;
                left: 9px;

             }
             .rightbf{
                position: absolute;
                top: 1px;
                left: 22px;
                animation: r-flap 0.3s infinite alternate ease-out;
             }
             .leftbf{
                position: absolute;
                animation: l-flap 0.3s infinite alternate ease-in-out;
             }
             @keyframes l-flap{
                from{
                    transform: rotateY(-30deg);
                }
                to{
                    transform: rotatey(20deg);
                }
             }
             @keyframes r-flap{
                from{
                    transform: rotateY(30deg);
                }
                to{
                    transform: rotatey(-20deg);
                }
             }
             .butterfly{
                position: absolute;
                top: 10px;
                right: 150px;
                transform: rotate(40deg);
                
             }
             .container{
                display: flex;
                flex-direction: column;
                gap: 2px;
                transform: scale(0.5);
                transform-origin:top ;

             }
        
        
